@inherits Umbraco.Web.Mvc.UmbracoViewPage<ExperiencesSection>


@{
	var quotes = Umbraco.Content(Guid.Parse("89cdded4-2501-4241-84b4-fbd25641a0e0"))
    .ChildrenOfType("experiencesQuote")
    .Where(x => x.IsVisible());
}

<section id="experiences" class="experiences-panel animated">
	<div class="header">
		<h1>Experiences<span class="animated-dot"></span></h1>
		@foreach (ExperiencesQuote quote in quotes) { @(quote.Quote) }
	</div>

    <hr class="spacer">	
    
	<div class="content">
		<div class="events">
		    @{
                var experiences = Umbraco.Content(Guid.Parse("89cdded4-2501-4241-84b4-fbd25641a0e0"))
                .ChildrenOfType("experience").Where(x => x.IsVisible());
        
            	foreach(Experience experience in experiences) {
            	    
            	    var mainEvents = experience.ChildrenOfType("mainEvent").Where(x => x.IsVisible());
        	        var subEvents = experience.ChildrenOfType("subEvent").Where(x => x.IsVisible());
        	        
        	        foreach(MainEvent mainEvent in mainEvents) {
    					<div class="event" date-is='@(mainEvent.Year)'>
            	            <h2>@(mainEvent.Header)</h2>
                        	<p>@(mainEvent.Description)</p>
                        	
                            @foreach(SubEvent subEvent in subEvents) {
            					<h3>@(subEvent.Header)</h3>
                    	        <p>@(subEvent.Description)</p>
            			    }
    	                </div>
    			    }
            	}
            }
		</div>

        <a href="#abilities" class="navigation-arrow"></a>
	</div>
</section>