@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProfileSection>
@{
    var element = Model;
   
    var subheader = element.Subheader;
    var about = element.About;
	var age = element.Age; 
	var location = element.Location;
	var image = element.Image;
}

<section id="profile" class="profile-panel animated">
	<div class="header">
		<h1>Profile<span class="animated-dot"></span></h1>
		<p>@(subheader)</p>
	</div>

    <hr class="spacer">	
	
	<div class="content">
		<div class="image">
			<img src="@(image.Url)">
		</div>

		<div class="details"> 
			<h2 data-item="Details">Details</h2>
			<strong>Name: </strong>Tom Steinmeier
			<strong>Age: </strong>@(age)
			<strong>Location: </strong>@(location)
		</div>
	
		<div class="about">
			<h2 data-item='About&#160me'>About&#160me</h2>
			<p>@(about)
			</p>
		</div>

        <a href="#experiences" class="navigation-arrow"></a>
	</div>
</section>