@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProjectsSection>
    

@{
	var quotes = Umbraco.Content(Guid.Parse("30a35e6f-af89-41d1-a63b-006de8e3552c"))
    .ChildrenOfType("projectsQuote")
    .Where(x => x.IsVisible());
}

<section id="projects" class="projects-panel animated">
	<div class="header">
		<h1>Projects<span class="animated-dot"></span></h1>
		@foreach (ProjectsQuote quote in quotes) { @(quote.Quote) }
	</div>
	
    <hr class="spacer">	
	
	<div class="content">
        @{
        	var projects = Umbraco.Content(Guid.Parse("30a35e6f-af89-41d1-a63b-006de8e3552c"))
            .ChildrenOfType("project")
            .Where(x => x.IsVisible());
            
        	foreach (Project project in projects) {
        	
        	    if (String.IsNullOrEmpty(@project.ProjectUrl)) { 
        	        <div class="project">
                    	<a data-item="@(project.Header) - Closed">@(project.Header) - Closed</a>
                    	<figure class="project-details">
                    		<img src="@(project.Image.Url)" alt="@(project.ImageAlt)">
                    		<figcaption>
                    			<div class="link-icon"></div>
                    			<h2>@(project.Subheader)</h2>
                    			<p>@(project.Tags)</p>
                    		</figcaption>
                    	</figure>
                    </div>
        	    } else {
            		<div class="project">
                    	<a href="@(project.ProjectUrl)" data-item="@(project.Header)" target="_blank" rel="noopener">@(project.Header)</a>
                    	<figure class="project-details">
                    		<img src="@(project.Image.Url)" alt="@(project.ImageAlt)">
                    		<figcaption>
                    			<div class="link-icon"></div>
                    			<h2>@(project.Subheader)</h2>
                    			<p>@(project.Tags)</p>
                    			<a href="@(project.ProjectUrl)" target="_blank" rel="noopener"></a> 
                    		</figcaption>
                    	</figure>
                    </div>
        	    }
        	    
        	}
        }
        <a href="#contact" class="navigation-arrow"></a>
	</div>
</section>